
<form action="/square_root/results">
  <label for="sqrt_entry">Enter a number</label>
  <input id="sqrt_entry" type="text" placeholder="What number do you want to square root?" name="user_number">
  <br>
  <button>Calculate square root</button>
</form>